footer{
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    background-color: $roxo-escuro;

    .top{
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    a, p, h5{
        color: $branco;
    }
    a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        &:hover{
            color: $rosa;
        }
    }
    li{
        &:not(:first-child){
            margin-top: 6px;
        }
    }
    h5{
        margin-bottom: 9px;
    }
    .logo-footer{
        width: 100%;
        max-width: 200px;
        p{
            margin-top: 18px;
        }
    }
    .redes{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        a{  
            display: flex;
            align-items: center;
            justify-content: center;
            width: 31.08px;
            height: 31.08px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            &:not(:first-child){
                margin-left: 13px;
            }
            &:hover{
                opacity: 50%;
            }
        }
    }
    hr{
        width: 1216px;
        height: 1px;
        background: rgba(255, 255, 255, 0.5);
    }
    .bottom{
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .voltar p{
            &:hover{
                opacity: 70%;
            }
        }
        .voltar a{
            display: flex;
            justify-content: center;
        }
        .seta{
            margin-left: 16px;
        }
    }

    @media screen and (max-width: 900px) {
        height: auto;
        background-size: cover;

        .top{
            .item{
                margin-right: 50px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .top{
            flex-wrap: wrap;

            .transparencia{
                margin-top: 20px;
            }
        }
        .bottom{
            height: auto;
            padding: 20px 0;
        }
    }

    @media screen and (max-width: 576px) {
        .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .logo-footer{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .item{
                &:not(:first-child){
                    margin-top: 30px;
                }
                margin-right: 0;
            }
        }
        .bottom{
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;

            .voltar{
                margin-top: 10px;
            }
        }
    }
}